meshcore==2.3.7
beautifulsoup4==4.14.3
PyYAML==6.0.3
python-dotenv==1.2.2
requests==2.34.2
geopy==2.4.1
black==26.5.1
loguru==0.7.3
pysqlite3==0.6.0
isort==8.0.1
croniter==6.2.2
yamlfix==1.19.1
mdformat==1.0.0
pylint==4.0.5
pytest==9.0.3
